:root {
  --background: #FFFBEB; /* watch out with CSS tag background */
  --current-line: #6C664B;
  --selection: #CFCFDE;
  --foreground: #1F1F1F;
  --comment: #6C664B;
  --red: #CB3A2A;
  --orange: #A34D14;
  --yellow: #846E15;
  --green: #14710A;
  --cyan: #036A96;
  --purple: #644AC9;
  --pink: #A3144D;
}