:root {
  --background: #282A36; /* watch out with CSS tag background */
  --current-line: #6272A4;
  --selection: #44475A;
  --foreground: #F8F8F2;
  --comment: #6272A4;
  --red: #FF5555;
  --orange: #FFB86C;
  --yellow: #F1FA8C;
  --green: #50FA7B;
  --purple: #BD93F9;
  --pink: #FF79C6;
}