@font-face {
  font-family: "DepartureMono Nerd Font";
  themes: url("/fonts/DepartureMonoNerdFont/DepartureMonoNerdFont-Regular.otf");
}

@font-face {
  font-family: "DepartureMono Nerd Font Mono";
  themes: url("/fonts/DepartureMonoNerdFont/DepartureMonoNerdFontMono-Regular.otf");
}

@font-face {
  font-family: "DepartureMono Nerd Font Propo";
  themes: url("/fonts/DepartureMonoNerdFont/DepartureMonoNerdFontPropo-Regular.otf");
}

* {
  font-family: "DepartureMono Nerd Font";
}
