.background { /* assign this to your background */
    position: fixed;
    inset: 0;

    object-fit: cover;
    z-index: -1;
}

.blur-self {
    position: relative;
    z-index: 1;

    background: rgb(255 255 255 / 20%);

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    /* define size and padding inline */
}
